@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus quidem, aperiam doloribus nulla aut consequuntur nostrum, at ratione reiciendis molestiae repellat eveniet, laudantium ab aliquid. Temporibus odit neque nulla?</p>